.color-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.color-item {
  margin-left: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.wp-color-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
