.view-image {
  width: 32px;
  height: 32px;
  background-image: url("../../../../assets/image/icon-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.grid-btn {
  padding: 4px;
}

.bi-three-dots {
  color: #39bf5e;
}
