.edit-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;

  .edit-title {
    font-family: "PTRootUIBold";
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }

  .selected-days {
    font-family: "PTRootUIMedium";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    margin-top: 10px;
  }
}

.edit-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;

  .btn {
    padding: 10px;
  }

  .btn-cancel {
    background: #ebecef;
    border-radius: 6px;
  }
}

.clocks {
  display: flex;
  align-items: center;
  gap: 16px;
}

.date-box-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.time-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text-danger {
  background: rgba(190, 17, 17, 0.1);
  color: #be1111;
  border-radius: 4px;
  padding: 12px 16px;
}

.error {
  border: 1px solid #be1111;
}

.schedule-edit-alert {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  border-radius: 4px;
  background: rgba(61, 68, 228, 0.1);

  .alert-title {
    color: #3d44e4;
    font-size: 14px;
    font-family: "PTRootUIMedium";
    font-weight: 700;
    line-height: 150%;
  }

  .alert-text {
    color: #3d44e4;
    font-size: 13px;
    font-family: "PTRootUIMedium";
    line-height: 150%;
  }
}

.boundaries-marks {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  &-block {
    display: grid;
    grid-template-columns: 130px auto auto;
    gap: 10px;
    align-items: center;
    padding-bottom: 5px;
  }
  &-title {
    display: grid;
    grid-template-columns: 200px 250px;
    gap: 10px;
    margin: 10px 0;
  }
}

.grey-line {
  background-color: rgb(136 143 164);
  height: 1px;
  border: none;
}

.location-selector {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  .location-info {
    display: flex;
    align-items: center;

    span {
      margin-right: 5px;
    }
  }

  .info-icon {
    width: 18px;
    height: auto;
    cursor: pointer;
  }
}

.location-info-description {
  font-family: PTRootUIMedium;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #060c1f;
}

.wp-date-box {
  max-width: 110px;
}