<div class="menu">
  <p class="text">Политика о конфиденциальности</p>
</div>
<div>
  <textarea class="text-politics" readonly>Правила защиты информации о пользователях мобильного приложения «WorkPace»


    1. Общие положения
    1.1. Настоящие Правила являются официальным документом Товарищества с ограниченной ответственностью «WorkPace», расположенного по адресу: Казахстан, город Нур-Султан, район Есиль, проспект Мангилик Ел, здание 11/1, офис 601, почтовый индекс Z05K5H3 (далее – Компания), и определяют порядок обработки и защиты информации программой для ЭВМ в виде мобильного приложения «WorkPace» (далее – Программа) о лицах, пользующихся услугами Программы (далее – Пользователи).
    1.2. Целью настоящих Правил является обеспечение надлежащей защиты информации о Пользователях, в том числе их персональных данных, от несанкционированного доступа и разглашения.
    •	1.3. Отношения, связанные со сбором, хранением, распространением и защитой информации о Пользователях Программы, регулируются настоящими Правилами, иными официальными документами Компании и действующим законодательством Республики Казахстан.
    •	1.4. Действующая редакция Правил, являющихся общедоступным документом, доступна любому Пользователю сети Интернет при переходе по ссылке https://my.workpace.kz/politics. Компания вправе вносить изменения в настоящие Правила. При внесении изменений в Правила Компания уведомляет об этом Пользователей путем размещения новой редакции Правил на по ссылке: https://my.workpace.kz/politics не позднее, чем за 10 дней до вступления в силу соответствующих изменений.
    •	1.5. Регистрируясь и используя Программу, Пользователь выражает свое согласие с условиями настоящих Правил.
    •	1.6. В случае несогласия Пользователя с условиями настоящих Правил использование Программы должно быть немедленно прекращено.
    2. Условия пользования Программой
    •	2.1. Оказывая услуги по использованию Программы, Компания, действуя разумно и добросовестно, считает, что Пользователь:
    •	обладает всеми необходимыми правами, позволяющими ему осуществлять регистрацию и использовать Программу;
    •	указывает достоверную информацию о себе в объемах, необходимых для Программой;
    •	ознакомлен с настоящими Правилами, выражает свое согласие с ними и принимает на себя указанные в них права и обязанности.
    •	2.2. Компания не проверяет достоверность получаемой (собираемой) информации о Пользователях, за исключением случаев, когда такая проверка необходима в целях исполнения Компанией обязательств перед Пользователем.
    3. Цели обработки информации
    Компания осуществляет обработку информации о Пользователях, в том числе их персональных данных, в целях выполнения обязательств Компании перед Пользователями в отношении использования Программы.
    4. Состав информации о пользователях
    •	4.1. Персональные данные Пользователей
    Персональные данные Пользователей включают в себя:
    •	4.1.1. предоставляемые Пользователями и минимально необходимые для регистрации на Сайте: имя, фамилия, отчество, адрес электронной почты и фотография с изображением Пользователя;
    •	4.2. Иная информация о Пользователях, обрабатываемая Компанией
    Компания может также обрабатывать иную информацию о Пользователях, которая включает в себя:
    •	4.2.1. дополнительные данные, получаемые при доступе к Программе, включающие в себя данные о технических средствах (устройствах), технологическом взаимодействии с Программой (в т.ч. IP-адрес хоста, вид операционной системы Пользователя, данные, полученные в результате доступа к камере), и последующих действиях Пользователя в Программе.
    •	4.2.2. информация, автоматически получаемая при доступе к Программе с использованием закладок (cookies);
    5. Обработка информации о Пользователях
    •	5.1. Обработка персональных данных осуществляется на основе принципов:
    а) законности целей и способов обработки персональных данных;
    б) добросовестности;
    в) соответствия целей обработки персональных данных целям, заранее определенным и заявленным при сборе персональных данных, а также полномочиям Компании;
    г) соответствия объема и характера обрабатываемых персональных данных, способов обработки персональных данных целям обработки персональных данных;
    •	5.1.1. Сбор персональных данных
    Сбор персональных данных Пользователя осуществляется Программой при регистрации, а также в дальнейшем при внесении Пользователем по своей инициативе дополнительных сведений о себе с помощью инструментария Программы.
    Персональные данные, предусмотренные п. 4.1.1. настоящих Правил, предоставляются Пользователем и являются минимально необходимыми для регистрации.
    5.1.2. Хранение и использование персональных данных
    Персональные данные пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.
    •	5.1.3. Передача персональных данных
    Персональные данные Пользователей не передаются никаким другим третьим лицам, за исключением случаев, прямо предусмотренных настоящими Правилами.
    •	Пользователь даёт своё согласие на передачу персональных данных третьему лицу, в личном кабинете которого на сайте https://workpace.kz/ (далее – Сайт) осуществлена регистрация Программы, в которой зарегистрирован и которую использует Пользователь.
    •	При указании Пользователя или при наличии согласия Пользователя возможна передача персональных данных Пользователя третьим лицам — контрагентам Компании с условием принятия такими контрагентами обязательств по обеспечению конфиденциальности полученной информации.
    Предоставление персональных данных Пользователей по запросу государственных органов (органов местного самоуправления) осуществляется в порядке, предусмотренном законодательством Республики Казахстан.
    6. Меры по защите информации о Пользователях
    •	6.1. Компания принимает технические и организационно-правовые меры в целях обеспечения защиты персональных данных Пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий.
    •	6.2. Для авторизации доступа к Сайту используется логин (адрес электронной почты) и пароль Пользователя, а при использовании Программы используются биометрические данные Пользователя. Ответственность за сохранность логина и пароля для авторизации на Сайте несет Пользователь. Пользователь не вправе передавать собственный логин и пароль третьим лицам, а также обязан предпринимать меры по обеспечению их конфиденциальности.
    7. Ограничение действия Правил
    Действие настоящих Правил не распространяется на действия и интернет-ресурсы третьих лиц.

  </textarea>
</div>
