<div class="basic-container" *ngIf="currentEmployee">
  <div class="back-button-container">
    <dx-button
      (onClick)="navigateToEmployeeList()"
      class="back-button"
      icon="arrowleft"
    ></dx-button>
  </div>
  <div class="publish-basic-container">
    <div class="employee-info">
      <div>
        <h4 class="employee-info__fullname">
          {{ currentEmployee.fullName }}
        </h4>
      </div>
      <div class="employee-info__details">
        <span class="employee-info__label"> {{ "Отдел" | translate }}: </span>
        <span class="employee-info__department">{{
          currentEmployee.departmentName
        }}</span>
      </div>
    </div>
  </div>
</div>

<dx-tab-panel
  [deferRendering]="true"
  [showNavButtons]="true"
  [repaintChangesOnly]="false"
  [animationEnabled]="false"
  [swipeEnabled]="false"
  class="custom-tab-panel"
>
  <dxi-item title="{{ 'Данные сотрудника' | translate }}">
    <app-employee-data-edit
      [currentEmployee]="currentEmployee"
    ></app-employee-data-edit>
  </dxi-item>

  <dxi-item title="{{ 'Параметры идентификации' | translate }}">
    <app-employee-identification-edit [currentEmployee]="currentEmployee">
    </app-employee-identification-edit>
  </dxi-item>

  <dxi-item title="{{ 'Расписание' | translate }}">
    <app-employee-timetable
      [currentEmployee]="currentEmployee"
    ></app-employee-timetable>
  </dxi-item>
</dx-tab-panel>
