<div class="container-fluid notification-page-content">
  <div class="notification-page-wrapper">
    <img class="logo" src="assets/image/logo.svg" alt="logo" />
    <p class="title-notification-page">Удаление персональных данных</p>
    <p class="description-notification-page">
      1.Приложение для учета рабочего времени сотрудников "Workpace".
    </p>
    <p class="description-notification-page">
      2.Для того, чтобы удалить аккаунт и связанные с ним персональные данные,
      в том числе: ФИО, Информацию об отметках прихода и ухода за период,
      необходимо обратиться к Вашему работодателю.
    </p>
    <p class="description-notification-page">
      3.Решение об удалении данных и сроке хранения принимается работодателем на
      основании Вашего обращения.
    </p>
  </div>
</div>
