<dx-date-range-box
  [width]="353"
  [showClearButton]="true"
  [elementAttr]="{ class: 'mg-top' }"
  (onValueChanged)="handleDataValueChange($event)"
>
  <dx-validator>
    <dxi-validation-rule
      type="required"
      message="{{ 'Выберите даты' | translate }}"
    ></dxi-validation-rule>
    <dxi-validation-rule
      type="range"
      [min]="minDate"
      [max]="maxDate"
      message="{{ 'Период не должен превышать 182 дня' | translate }}"
    ></dxi-validation-rule>
  </dx-validator>
</dx-date-range-box>
