.wrapper {
  display: flex;
  grid-gap: 20px;
  margin-bottom: 10px;
}

// .grid-gap {
//   grid-gap: 10px;
// }


@media screen and (max-width: 900px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;

  }
}
