* {
  // Vertical
  --space-vertical-none: 0;
  --space-vertical-xxs: 2px;
  --space-vertical-xs: 4px;
  --space-vertical-snudge: 6px;
  --space-vertical-s: 8px;
  --space-vertical-mnudge: 10px;
  --space-vertical-m: 12px;
  --space-vertical-l: 16px;
  --space-vertical-xl: 20px;
  --space-vertical-xxl: 24px;
  --space-vertical-xxxl: 32px;

  // Horizontal
  --space-horizontal-none: 0;
  --space-horizontal-xxs: 2px;
  --space-horizontal-xs: 4px;
  --space-horizontal-snudge: 6px;
  --space-horizontal-s: 8px;
  --space-horizontal-mnudge: 10px;
  --space-horizontal-m: 12px;
  --space-horizontal-l: 16px;
  --space-horizontal-xl: 20px;
  --space-horizontal-xxl: 24px;
  --space-horizontal-xxxl: 32px;
}
